<div class="footer-container">
  <div fxLayout="row">
    <div fxFlex="16">
      <p class="title">About/</p>
      <p class="sub">Story</p>
      <p class="sub">FAQ</p>
      <p class="sub">Contacts</p>
    </div>
    <div fxFlex="16">
      <p class="title" routerLink="/accommodation" >Accommodation/</p>
      <p class="sub">Rooms</p>
      <p class="sub">Cottages</p>
      <p class="sub">Chalet</p>
    </div>
    <div fxFlex="16">
      <p class="title" routerLink="/night-life" >Night Life/</p>
      <p class="sub">Clubs</p>
      <p class="sub">Restaurant</p>
      <p class="sub">Bars</p>
      <p class="sub">Rooftop Bars</p>
    </div>
    <div fxFlex="16">
      <p class="title" routerLink="/blog" >Blog/</p>
    </div>
    <div fxFlex="16">
      <p class="title">Gallery/</p>
    </div>
    <div fxFlex="20" class="address">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="ic-div">
          <mat-icon svgIcon="fb"></mat-icon>
          <mat-icon svgIcon="ig"></mat-icon>
          <mat-icon svgIcon="twitter"></mat-icon>
        </div>
        <div fxLayout="column" class="data-ad" fxLayoutAlign="flex-end">
          <p fxLayoutAlign="flex-end">
            ADENTA STREET, 147
          </p>
          <p>
            84010 Praiano
          </p>
          <p>
            Amalfi Coast, SA
          </p>
          <p>
            GHANA
          </p>
          <p>
            ph +233 24 688 8087
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="copyrights">
  © BEYOND ACCRA 2021 | all rights reserved
</div>
