
.footer-container{
  padding-top: 3%;
  background-color: #ffffff;
  padding-left: 2.5%;
  padding-right: 0.5%;
}

.title{
  font-family: Georgia, serif;
  font-size: 30px;
  cursor: pointer;
}

.sub{
  font-family: Avenir-Book, serif;
  font-size: 25px;
  color: #24292e;
  cursor: pointer;
  line-height: 20px;
}

.address{
  border-left: 1px solid #a4a4a5;
}

.data-ad{
  font-family: Avenir-Book, serif;
  font-size: 20px;
  line-height: 10px;
  color: #24292e;
}

.ic-div{
  padding-left: 5%;
}

.copyrights{
  background-color: #f0f0f0;
  padding-left: 3%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  color: #000000;
  font-family: Avenir-Regular, serif;
  font-size: 20px;
}
