<div class="footer-container">
  <div fxLayout="row" fxLayout.xs="row wrap">
    <div fxFlex="10"></div>
    <div fxFlex="20" fxFlex.xs="30">
      <p class="title">Give us a call</p>
      <p class="sub">Tel: +233 (0) 579 9087 49</p>
    </div>
    <div fxFlex="20" fxFlex.xs="40">
      <p class="title" >Chat with us on WhatsApp</p>
      <p class="sub">Mobile: +233 (0) 579 9087 49</p>
    </div>
    <div fxFlex="20"  fxFlex.xs="30">
      <p class="title" >Email</p>
      <p class="sub">info@beyondaccra.com</p>
    </div>

    <div fxFlex="20"  fxFlex.xs="30">
    <p class="title" >Connect with us</p>
              <div fxLayout="row" fxLayout.xs="row" class="ic-div" fxLayoutGap="4%">
                <mat-icon svgIcon="fb"></mat-icon>
                <mat-icon svgIcon="ig"></mat-icon>
                <mat-icon svgIcon="twitter"></mat-icon>
              </div>
  </div>
    <div fxFlex="10"></div>
<!--    <div fxFlex="20" class="address"  fxFlex.xs="100">-->
<!--      <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="20px">-->
<!--        <div fxLayout="column" fxLayout.xs="row"  fxLayoutAlign="space-around center" class="ic-div">-->
<!--          <mat-icon svgIcon="fb"></mat-icon>-->
<!--          <mat-icon svgIcon="ig"></mat-icon>-->
<!--          <mat-icon svgIcon="twitter"></mat-icon>-->
<!--        </div>-->
<!--        <div fxLayout="column" fxLayout.xs="row wrap" class="data-ad" fxLayoutAlign="flex-end" fxLayoutAlign.xs="flex-start">-->
<!--          <p fxFlex.xs="50">-->
<!--            ADENTA STREET, 147-->
<!--          </p>-->
<!--          <p fxFlex.xs="50">-->
<!--            84010 Praiano-->
<!--          </p>-->
<!--          <p fxFlex.xs="50">-->
<!--            Amalfi Coast, SA-->
<!--          </p>-->
<!--          <p fxFlex.xs="50">-->
<!--            GHANA-->
<!--          </p>-->
<!--          <p fxFlex.xs="50">-->
<!--            ph +233 24 688 8087-->
<!--          </p>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
  </div>
</div>

<div class="copyrights">
  <img src="assets/images/main-logo.png" class="logo-footer">
  <span>© BEYOND ACCRA 2021 | all rights reserved</span>
  <br>
  <span>Osu Oxford Street, 147 84010 Praiano Amalfi Coast, SA GHANA</span>
</div>
