<app-header-alt xmlns="http://www.w3.org/1999/html"></app-header-alt>
<div  fxLayout="row" class="inq">
  <div fxFlex="58" class="form-sec">
    <p class="title">How can we assist you?</p>
    <div  fxLayout="row wrap">
      <div   fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <span class="label">First Name</span>
        <input type="text">
      </div>

      <div   fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <span class="label">Last Name</span>
        <input type="text">
      </div>

      <div  class="form" fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <span class="label">Email</span>
        <input type="text">
      </div>

      <div  class="form" fxFlex="50" fxLayout="column" fxLayoutGap="10px">
        <span class="label">Phone</span>
        <input type="text">
      </div>

      <div  class="form" fxFlex="100" fxLayout="column" fxLayoutGap="10px">

        <span class="label">Message</span>
        <textarea rows="10"></textarea>
      </div>

      <div  class="form" fxFlex="100" fxLayout="column" fxLayoutGap="10px">
        <button class="but">Submit Inquiry</button>
      </div>
      <div  class="form" fxFlex="100" fxLayout="column" fxLayoutGap="10px">
        <span class="sap">Text us on</span>
        <span class="sap">WhatsApp</span>
        <span class="sap">+233 24 111 0741</span>
      </div>
    </div>
  </div>
  <div fxFlex="42" class="image-section"></div>
</div>
<app-footer></app-footer>
