.acc-main{
  display: block;
  background: url('/assets/images/about-bg.jpg');
  background-repeat: no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
}


.info{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.acc-tile{
  font-family: Georgia, serif;
  color: #ffffff;
  font-size: 70px;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 40px;
  }
}

.about-container{
  padding: 2%;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  width: 50%;
  margin-left: 20%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: #ffffff;
  border-radius: 5px;
}

.main{
  background: #eee;
  min-height: 100vh;
  padding-bottom: 5%;

}

.title{
  font-family: Georgia, serif;
  color: #000e2f;
  font-size: 35px;
  line-height: 20px;
}

.text{
  font-family: Georgia, serif;
  color: #828282;
  font-size: 18px;
  line-height: 35px;
  padding-bottom: 8%
}
