
<div class="main" [@fadeIn] [@fadeOut]>
  <div class="acc-main">
    <app-header></app-header>
    <div class="info">
      <p class="acc-tile">About Beyond Accra</p>
    </div>
  </div>

  <div class="about-container">
    <p class="title">About Beyond Accra</p>

    <p class="text">Beyond Accra is a luxury travel and tour concierge service based in Accra, Ghana. Centered around enhancing the customer’s experience, we offer a simplified variety of options, from world renowned tourist attractions to unique expert curated tours exclusive to beyond Accra.
      We offer customers the chance to explore Ghana the way it was meant to be; simple, stress free and full of adventure .
      Founded by well traveled, passionate Ghanaians , our services are greatly influenced by a personal understanding of luxury, great customer service and a genuine appreciation for and knowledge of the rich culture and experiences Ghana has to offer. </p>

    <p class="text">
      Ghana is one of the most popular west African countries and offers many incredible opportunities for tourists to engage with the people and culture. However, with so many activities and very little help accessing them , it can be tricky to navigate planning a wholesome trip that truly allows you to create YOUR unique and ideal experience. That is why we created Beyond Accra.
      We customize your experience to suit your budget and your needs. Our job is to make sure you have access to the best of everything at every point of your trip. Through our personal concierge services we assist you in the creation of what promises to be some of the best memories in one of the most culturally rich countries in West Africa.
      Let us be the first to say Akwaaba and make your trip a lifelong memory.
    </p>
  </div>
</div>

<app-footer></app-footer>
