<app-menu [@fadeIn] [@fadeOut] *ngIf="viewMenu" (onClose)="closeMenu($event)"></app-menu>
<div [@fadeIn] [@fadeOut] *ngIf="!viewMenu">
  <div class="night-main" fxLayout="column">
    <app-header></app-header>
    <div class="message-container">
      <mat-icon class="message-ic" svgIcon="message"></mat-icon>
    </div>

    <div class="commitment-div">
      <span>DISCOVER THE NIGHT LIFE</span>
    </div>
    <div class="info">
      <p class="acc-tile">NIGHT LIFE</p>
      <p class="night-desc">{{text}}</p>


    </div>


  </div>
  <div class="section">
    <div class="night-tile"  fxLayout="row" fxLayout.xs="column">
      <img class="mobile" [src]="bgOne" style="width: 100%;">
      <div fxFlex="30" class="deatils" fxLayout="column">
        <span class="number">01</span>
        <div fxFlex fxLayout="column" fxLayoutAlign="end start" >
          <p class="title">Garage</p>
          <p class="title">Bar & Lounge</p>
          <p class="sub-one">Brief Venue Description </p>
          <p class="sub-two">{{textOne}}</p>
        </div>
      </div>
      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgOne + ')'}"></div>


    </div>
  </div>
  <div class="section">
    <div class="night-tile"  fxLayout="row" fxLayout.xs="column">
      <img class="mobile" [src]="bgTwo" style="width: 100%; margin-bottom: -10%">
      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgTwo + ')'}"></div>
      <div fxFlex="30" class="deatils" fxLayout="column">
        <span class="number">02</span>
        <div fxFlex fxLayout="column" fxLayoutAlign="end start" >
          <p class="title">Front / Back</p>
          <p class="sub-one">Brief Venue Description </p>
          <p class="sub-two">{{textOne}}</p>
        </div>
      </div>



    </div>
  </div>
  <div class="section">
    <div class="night-tile"  fxLayout="row" fxLayout.xs="column">
      <img class="mobile" [src]="bgThree" style="width: 100%; margin-bottom: -10%">
      <div fxFlex="30" class="deatils" fxLayout="column">
        <span class="number">03</span>
        <div fxFlex fxLayout="column" fxLayoutAlign="end start" >
          <p class="title">Luna</p>
          <p class="title">Rooftop</p>
          <p class="sub-one">Brief Venue Description </p>
          <p class="sub-two">{{textOne}}</p>
        </div>
      </div>
      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgThree + ')'}"></div>


    </div>
  </div>
  <div class="load-container">
    <button class="load-btn">LOAD MORE</button>
  </div>

  <div class="space"></div>
  <app-footer></app-footer>
</div>
