<app-menu [@fadeIn] [@fadeOut] *ngIf="viewMenu" (onClose)="closeMenu($event)"></app-menu>
<div [@fadeIn] [@fadeOut] *ngIf="!viewMenu">
  <div class="header-mobile mobile" fxLayout="row" >
    <img src="./assets/images/logo-gold.png" class="header-logo-mobile">
    <mat-icon  (click)="viewMenuDisplay()" class="header-ic-mobile" svgIcon="menu-alt"></mat-icon>
  </div>
  <div class="acc-main" fxLayout="column">
    <div fxLayout="row" class="header">
      <div fxFlex="45" class="header-left" fxLayout="row" fxLayoutGap="10px">
        <p (click)="viewMenuDisplay()">
          <mat-icon class="icon-menu" svgIcon="menu"></mat-icon>
        </p>
        <div class="menu-div" (click)="viewMenuDisplay()">
          <p (click)="viewMenuDisplay()">MENU</p>
        </div>

      </div>

      <div fxFlex="10">
        <img src="./assets/images/main-logo.png" class="header-logo">
      </div>

      <div fxFlex="45" class="header-right " fxLayoutAlign="end center" >
        <div class="menu-div border-left">
          <p routerLink="/accommodation">ACCOMMODATION</p>
        </div>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <p class="acc-tile">ACCOMMODATION</p>
      <div class="dataacc" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="7%">
        <input type="text"  placeholder="No. of rooms"/>
        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" placeholder="Dates"/>
        <input type="text"  placeholder="No. of adults"/>
        <input type="text"  placeholder="No. of children"/>
        <span class="search-txt">SEARCH</span>
      </div>


    </div>
    <div class="suites-container no-mobile">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="acc-suites">
        <p class="options" *ngFor = "let opts of accomadtionOptions; let i = index" [ngClass]="{'active': selectedAccomodation === i}" >{{opts}}</p>
      </div>
    </div>

  </div>
  <div class="section">
    <div class="acc-tile-one" fxLayout="row" fxLayout.xs="column">
      <img class="mobile" [src]="bgOne" style="width: 100%; margin-bottom: -10%">
      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgOne + ')'}"></div>
      <div fxFlex="30" >
        <div class="acc-details">
          <p class="title">Venue Name</p>
          <div class="section remove-section">
            <p class="optionss">Quantity of rooms: 22</p>
            <p class="optionss">Guests: 2</p>
            <p class="optionss">Average area: 37 m</p>
          </div>
          <p class="more">GET  MORE INFO—</p>
          <p class="price">$300</p>
          <p class="night">PER NIGHT</p>
          <button class="btn">BOOK ROOM</button>
        </div>
      </div>

    </div>
  </div>

  <div class="section">
    <div class="acc-tile-one" fxLayout="row" fxLayout.xs="column">
      <img class="mobile" [src]="bgTwo" style="width: 100%; margin-bottom: -10%">
      <div fxFlex="30" >
        <div class="acc-details-two">
          <p class="title">Venue Name</p>
          <div class="section remove-section">
            <p class="optionss">Quantity of rooms: 22</p>
            <p class="optionss">Guests: 2</p>
            <p class="optionss">Average area: 37 m</p>
          </div>
          <p class="more">GET  MORE INFO—</p>
          <p class="price">$300</p>
          <p class="night">PER NIGHT</p>
          <button class="btn">BOOK ROOM</button>
        </div>
      </div>

      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgTwo + ')'}"></div>

    </div>
  </div>

  <div class="section">
    <div class="acc-tile-one " fxLayout="row" fxLayout.xs="column">
      <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgThree + ')'}"></div>
      <img class="mobile" [src]="bgThree" style="width: 100%; margin-bottom: -10%">
      <div fxFlex="30" >
        <div class="acc-details">
          <p class="title">Venue Name</p>
          <div class="section remove-section">
            <p class="optionss">Quantity of rooms: 22</p>
            <p class="optionss">Guests: 2</p>
            <p class="optionss">Average area: 37 m</p>
          </div>
          <p class="more">GET  MORE INFO—</p>
          <p class="price">$300</p>
          <p class="night">PER NIGHT</p>
          <button class="btn">BOOK ROOM</button>
        </div>
      </div>

    </div>
  </div>

  <div class="load-container">
    <button class="load-btn">LOAD MORE</button>
  </div>

  <div class="space"></div>
  <app-footer></app-footer>

</div>
