
.container{
  height: 100vh;

  @media screen and (max-width: 600px) {
    height: unset;
    overflow-y: scroll;
  }
}

.last-sec{
  background-color: #e4e4e4;
}

.menu-screen{
  position: fixed;
  width: 100%;
}

.tiless{
  padding: 2%;
}

.close-ic{
  color: #616161;
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;

  @media screen and (max-width: 600px) {
    font-size: 15px !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.borders{
  border-right: 5px solid #ffffff;
  background-color: #eaeaec;

  @media screen and (max-width: 600px) {
    border-right: unset;
    border-bottom: 3px solid #ffffff;
  }
}

.numbering{
  font-family: Georgia, serif;
  color: #ffffff;
  font-size: 60px;

  @media screen and (max-width: 600px) {
    font-size: 25px;
  }
}

.border-text{
  cursor: pointer;
  text-align: center;
}

.border-text{
  color: #000000;
  font-family: Avenir-Light, serif;
  font-size: 25px;

  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.close-div{
  display: block;
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

.sub{
  padding-bottom: 35%;
}

.sub-text{
  color: #69696a;
  font-family: Avenir-Medium, serif;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    font-size: 11px;
  }
}

.credits{
  font-family: Avenir-Regular, serif;
  color: #69696a;
  font-size: 14px;
  display: block;
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}


.close-div-mobile{
  display: none !important;
  @media screen and (max-width: 600px) {
    display: block !important;
    position: absolute;
    top: 3%;
    left: 90%;
  }
}



.credits-mobile{

  display: none;
  @media screen and (max-width: 600px) {
    display: block !important;
    //position: absolute;
    //top: 95%;
    //left: 2%;
    //font-family: Avenir-Regular, serif;
    //color: #69696a;
    //font-size: 12px;
  }
}
