<div class="menu-screen">
  <div class="container" fxLayout="row">
    <div class="tiless borders"  fxFlex="20"  fxLayout="column">
      <span class="numbering">01</span>
      <p class="border-text" fxFlex fxLayoutAlign="center center">ABOUT</p>
    </div>
    <div class="tiless borders"  fxFlex="20" fxLayout="column">
      <span class="numbering">02</span>
      <p class="border-text" routerLink="/accommodation"  fxFlex fxLayoutAlign="center center">ACCOMMODATION</p>
    </div>
    <div class="tiless borders"  fxFlex="20" fxLayout="column">
      <span class="numbering">03</span>
      <p class="border-text" routerLink="/night-life" fxFlex fxLayoutAlign="center center">NIGHT LIFE</p>
    </div>
    <div class="tiless borders"  fxFlex="20" fxLayout="column">
      <span class="numbering">04</span>
      <p class="border-text" routerLink="/blog"   fxFlex fxLayoutAlign="center center">BLOG</p>
    </div>
    <div class="last-sec tiless"  fxFlex="20"  fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" >
        <mat-icon class="close-ic" svgIcon="close" (click)="close()"></mat-icon>
      </div>

      <div class="sub">
        <p class="sub-text" routerLink="/home">HOME</p>
        <p class="sub-text">BOOK NOW</p>
      </div>

      <div class="sub">
        <p class="sub-text">GALLERY</p>
      </div>

      <div class="sub">
        <p class="sub-text">CONTACT</p>
        <p class="sub-text">FAQ</p>
      </div>

      <div class="sub">
        <p class="sub-text">CREDITS</p>
        <p class="sub-text">PRIVACY POLICY</p>

        <div fxLayout="row" fxLayoutGap="20px" >
          <mat-icon svgIcon="fb"></mat-icon>
          <mat-icon svgIcon="ig"></mat-icon>
          <mat-icon svgIcon="twitter"></mat-icon>
        </div>
      </div>

      <div class="credits">
        <p>© BEYOND ACCRA 2021 | all rights reserved</p>
      </div>


    </div>
  </div>

</div>

