<div><app-header></app-header></div>
<div [@fadeIn] [@fadeOut] *ngIf="!viewMenu">


  <div class="main-container">
    <div class="section">
      <div class="blog-tile"  fxLayout="row" fxLayout.xs="column">
        <img class="mobile" [src]="bgOne" style="width: 100%;">
        <div fxFlex="30" class="deatils" fxFlex fxLayout="column" fxLayoutAlign="center start" >
          <p class="blog-date">DD/MM/YY</p>
          <p class="blog-title">BLOG TITLE Lorem ipsum
            dolor sit amet,</p>
          <p class="blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac</p>
          <button routerLink="/blog-details/1" class="btn">Load more</button>
        </div>
        <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgOne + ')'}"></div>
      </div>
    </div>

    <div class="section">
      <div class="blog-tile"  fxLayout="row" fxLayout.xs="column">
        <img class="mobile" [src]="bgTwo" style="width: 100%;">
        <div fxFlex="30" class="deatils" fxFlex fxLayout="column" fxLayoutAlign="center start" >
          <p class="blog-date">DD/MM/YY</p>
          <p class="blog-title">BLOG TITLE Lorem ipsum
            dolor sit amet,</p>
          <p class="blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac</p>
          <button routerLink="/blog-details/1" class="btn">Load more</button>
        </div>
        <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgTwo + ')'}"></div>
      </div>
    </div>

    <div class="section">
      <div class="blog-tile"  fxLayout="row" fxLayout.xs="column">
        <img class="mobile" [src]="bgThree" style="width: 100%;">
        <div fxFlex="30" class="deatils" fxFlex fxLayout="column" fxLayoutAlign="center start" >
          <p class="blog-date">DD/MM/YY</p>
          <p class="blog-title">BLOG TITLE Lorem ipsum
            dolor sit amet,</p>
          <p class="blog-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rutrum quisque non tellus orci ac</p>
          <button routerLink="/blog-details/1" class="btn">Load more</button>
        </div>
        <div fxFlex="70" class="image-settings no-mobile" [ngStyle]="{'background-image': 'url(' + bgThree + ')'}"></div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="space"></div>
    <app-footer></app-footer>
  </div>

</div>
