<app-menu [@fadeIn] [@fadeOut] *ngIf="viewMenu" (onClose)="closeMenu($event)"></app-menu>
<div [@fadeIn] [@fadeOut] *ngIf="!viewMenu">
  <div class="home-main" >
  <app-header></app-header>

    <div class="info">
      <p class="acc-tile">BEYOND ACCRA</p>
    </div>

    <div class="message-container">
      <mat-icon class="message-ic" svgIcon="message"></mat-icon>
    </div>

    <div class="bottom-brand">
        <img src="assets/images/rating.svg" width="100" class="rating"><br>
        124 reviews from Reviews.io
    </div>

  </div>

      <div fxLayout="row" fxLayout.xs="column" class="new-welcome">
        <div fxFlex="30">
          <div class="welcome-container">
            <p class="welcome-text">Welcome to</p>
            <p class="welcome-text"><b>Beyond Accra</b></p>
          </div>
        </div>
        <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center" >
          <p class="welcome-info">
            We offer unique tours and  experiences Curated with you and the Ghanaian culture in mind. We combine this with exclusive personal concierge services to make your visit to Ghana a one in a lifetime experience.
          </p>
        </div>
      </div>

  <div class="blogs-home">
    <p class="main-title">Why Beyond Accra?</p>
    <div   fxLayout="row" fxLayoutAlign="space-evenly none">
      <hover-container [ngStyle]="{'background-image': 'url(' + tileOne + ')'}">
        <div class="tile-data">
          <span class="numbering">01</span>
          <p class="title">Curated Tours & Experiences</p>
        </div>

        <ng-container overlay>
          <div fxLayout="column" fxLayoutAlign="end start" class="overlay-data">
            <span class="title">Curated Tours & Experiences</span>
            <p class="text">
              We don’t create tours we curate exclusive experiences. Unique to beyond Accra.
            </p>
          </div>
        </ng-container>
      </hover-container>

      <hover-container [ngStyle]="{'background-image': 'url(' + tileTwo + ')'}">
        <div class="tile-data">
          <span class="numbering">02</span>
          <p class="title">Local Expertise</p>
        </div>

        <ng-container overlay>
          <div fxLayout="column" fxLayoutAlign="end start" class="overlay-data">
            <span class="title">Local Expertise </span>
            <p class="text">
              We know Ghana inside out and want to deliver it to you. Authentic with an understanding of luxury.
            </p>
          </div>
        </ng-container>
      </hover-container>

      <hover-container [ngStyle]="{'background-image': 'url(' + tileThree + ')'}">
        <div class="tile-data">
          <span class="numbering">03</span>
          <p class="title">24/7 support</p>
        </div>

        <ng-container overlay>
          <div fxLayout="column" fxLayoutAlign="end start" class="overlay-data">
            <span class="title">24/7 support</span>
            <p class="text">
              We take care of your experience every step of the way. Or can be in the passenger seat if  you decide to take the wheel.
            </p>
          </div>
        </ng-container>
      </hover-container>



    </div>
  </div>

<div class="new-blog">
  <p class="main-title">Blogs</p>
</div>


  <app-footer></app-footer>
</div>

