:host {
  position: relative;

  display: inline-block;
  max-width: 364px;
  width: 364px;
  height: 320px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;




}


.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #cbbb9f;
  display: flex;
}
